*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx


# Intellij
.idea/assetWizardSettings.xml
.idea/caches
.idea/gradle.xml
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
/.idea/caches/build_file_checksums.ser
/.idea/navEditor.xml

.idea/tasks.xml
.idea/encodings.xml
.idea/kotlinc.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/markdown-exported-files.xml